@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&family=Ubuntu:wght@500&display=swap');

.a1{
    padding: 20%;
    background-color: #413839;
    width: 100%;
    height: 100%;
}
.a2{
    text-align: center;
    font-size: xx-large;
    color: white;
}

/* .body{
    height: 100%;
    background-color: #141414;
} */


 #main{
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     background: #141414;

    
 }
 
 .remove
 {
     text-align: center;
     margin-bottom: .8rem;
     
 }
 
 .movie{
     width: 300px;
     margin: 1rem;
     border-radius: 15px;
     box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.178);
     background-color: #1b1313;
     position:relative;
     overflow: hidden;
     
 }
 
 .movie:hover
 {
     cursor: pointer;
 }
 
 .movie:hover img
 {
     transform: scale(1.05);
     transition: transform 0.3s ease-in;
 }
 
 .movie img{
     width: 100%;   
     border-radius: 15px;
 }
 
 .movie-info
 {
     color: white;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 0.5rem 1rem 1rem;
     letter-spacing: 0.5px;
 }
 .actions
 {
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding-bottom: 10px;
 }
 
 .movie-info h3{
     margin-top: 0px;
     font-size: 20px;
 }
 
 .movie-info span{
     background-color: #1b1313;
     padding: 9px 9px;
     border-radius: 50%;
     font-weight: bold;
 }
 
 .movie-info span.green
 {
     border: 2px solid lightgreen;
 }
 .movie-info span.orange
 {
     color: orange;
 }
 .movie-info span.red
 {
     color: red;
 }
 
 .overview
 {
     position: absolute;
     left: 0;
     bottom: 0;
     right: 0;
     background-color: rgba(247, 247, 247, 0.925);
     color: rgb(0, 0, 0);
     padding: 1rem;
     max-height: 100%;
     transform: translateY(101%);
     transition: transform 0.3s ease-in;
     
 }
 
 .movie:hover .overview
 {
     transform: translateY(0);
 }
 
 nav{
     height: 80px;
     background: #1b1b1b;
     display: flex;
     align-items: center;
     text-align: center;
     justify-content: center;
     padding: 10px
 }
 
 
 nav ul{
     display: flex;
     list-style: none;
 }
 
 nav ul li{
     margin: 0 0px;
     padding: 10px;
 }
 
 nav ul li a{
     color: #fff;
     text-decoration: none;
     font-size: 18px;
     font-weight: 500;
     letter-spacing: 1px;
     padding: 8px 10px;
     border-radius: 5px;
     transition: all 0.3s ease;
 }
 .search input{
     color: #1b1b1b;
     text-decoration: none;
     border-radius: 5px;
     transition: all 0.3s ease;
     margin-right: 10px;
 }
 
 
 nav ul li a:hover,
 nav ul li a.active{
     color: #1b1b1b;
     background-color: white;
     cursor: pointer;
 }

 .date 
{
    padding: 0;
    margin: 0;
    font-weight: 500;
}

.date h3{
    padding: 0;
    margin: 0;
    font-weight: bolder;
    display: inline;
}

.date p{
    display: inline;
}
 
 @media (max-width: 1080px)
 {
     nav ul{
         height: 10px;
         width: 100%;
         top: 80px;
         text-align: center;
         justify-content: center;
         transition: all 0.3s ease;
         display: contents;
     }
 
     nav ul li a{
         font-size: 10px;
     }
 
     .movie{
         width: 250px;
         margin: 1rem;
         border-radius: 15px;
         box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.178);
         background-color: #1b1313;
         position:relative;
         overflow: hidden;
         font-size: 10px;
     }
 }
 
 