<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <form [formGroup]= "loginForm" (ngSubmit)="onSubmit()">

                <div class="form-group">
                    <label for="email" class='fa fa-envelope'></label>
                    <input type="email" placeholder="Email Address" formControlName="userEmail">
                    <span class="text-danger"
                        *ngIf="loginForm.get('userEmail').touched && loginForm.get('userEmail').invalid"><br>Invalid
                        Email Address</span>
                </div>

                <div class="form-group">
                    <label for="password" class="fa fa-lock"></label>
                    <input type="password" placeholder="Password" formControlName="password">
                    <span class="text-danger"
                        *ngIf="loginForm.get('password').touched && loginForm.get('password').invalid"><br>Invalid
                        Password</span>
                </div>

                <div class="text-center">
                    <button id="submitButton" type="submit" class="btn btn-primary"
                        [disabled]="!loginForm.valid">Login</button>
                </div>
                <div class="text-center text-success" *ngIf="successMessage">{{successMessage}}</div>

            </form>
        </div>
    </div>
</div>